In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Creazione connessione al database
#engine = create_engine('mysql+pymysql://user:password@localhost/database')

# Per esempio, se stai usando MariaDB
# attivato nel mio sistema tramite docker con il comando: 
# docker run --name mariadb-esercizio -e MARIADB_ROOT_PASSWORD=mypassword -e MARIADB_DATABASE=esercizio -p 3306:3306 -d mariadb:latest
engine = create_engine('mysql+pymysql://root:mypassword@localhost:3306/esercizio')

# Creazione tabella da DataFrame
df = pd.DataFrame({
'id': range(1, 6),
'nome': ['Anna', 'Marco', 'Lucia', 'Paolo', 'Giulia'],
'importo': [1200.50, 950.75, 2300.00, 1450.25, 3100.80]
})

# Inserimento dati nel database
df.to_sql('transazioni', engine, if_exists='replace', index=False)

# Lettura dati con query SQL
query = "SELECT nome, importo FROM transazioni WHERE importo > 1500"
risultato = pd.read_sql(query, engine)
print(risultato)

     nome  importo
0   Lucia   2300.0
1  Giulia   3100.8