Esercizio analisi vendite

Importiamo le librerie e il file e visualizziamo le prime 5 righe

In [6]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("vendite.csv")
df.head()

         Data  Prodotto  Quantità  Prezzo_unitario
0  2024-07-01      Pane        10              1.0
1  2024-07-01     Latte         5              1.2
2  2024-07-02      Pane         8              1.0
3  2024-07-02  Biscotti         3              2.0
4  2024-07-03     Latte         7              1.2

In [29]:
fatturato_giornaliero = df.groupby("Data")["Prezzo_unitario"].sum().reset_index()
print(fatturato_giornaliero)

         Data  Prezzo_unitario
0  2024-07-01              2.2
1  2024-07-02              3.0
2  2024-07-03              2.2
3  2024-07-04              3.0
4  2024-07-05              3.2

In [14]:
df["Fatturato"] = df["Quantità"]*df["Prezzo_unitario"]
df.head()

         Data  Prodotto  Quantità  Prezzo_unitario  Fatturato
0  2024-07-01      Pane        10              1.0       10.0
1  2024-07-01     Latte         5              1.2        6.0
2  2024-07-02      Pane         8              1.0        8.0
3  2024-07-02  Biscotti         3              2.0        6.0
4  2024-07-03     Latte         7              1.2        8.4

In [15]:
fatturato_totale_prodotto = df.groupby("Prodotto")["Prezzo_unitario"].sum().reset_index()
print(fatturato_totale_prodotto)

   Prodotto  Prezzo_unitario
0  Biscotti              6.0
1     Latte              3.6
2      Pane              4.0

In [ ]:
plt.figure(figsize=(10, 8))
fatturato_totale_prodotto = df.groupby("Prodotto")["Prezzo_unitario"].sum()
fatturato_totale_prodotto.plot(kind='bar', color='turquoise')
plt.title("Fatturato totale per ogni prodotto", fontsize=16)
plt.xlabel("Prodotto", fontsize=14)
plt.ylabel("Fatturato in €", fontsize=14)
plt.tight_layout()
plt.show()

In [28]:
prodotto_piu_venduto = fatturato_totale_prodotto.idxmax()
fatturato_piu_venduto = fatturato_totale_prodotto.max()
print(f"Il prodotto che ha generato il fatturato più alto è {prodotto_piu_venduto} con un fatturato di {fatturato_piu_venduto} €.")

Il prodotto che ha generato il fatturato più alto è Biscotti con un fatturato di 6.0 €.